/* --------------------ALL-------------------- */

body
{
    overflow-wrap: break-word;
    margin: 0;
    background-color: rgb(215, 215, 215);
    color: white;
    font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.right {
    float: right;
}

.left {
    float: left;
}

.div50_50{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.div60_40{
    display: grid;
    grid-template-columns: 60% 40%;
}

textarea {
    resize: vertical;
}
/* --------------------CONNECT-------------------- */

.connec_page{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(../img/bg/bgComputerRegister.jpg) center center no-repeat;
    background-size: auto auto !important;
}

.connec_panel
{
    border: 1px solid rgba(237, 40, 181);
    box-shadow: 0 0 10px 5px #ed28b5;;
    display: block;
    position: relative;
    background-color: #23282d;
    width: 500px;
    height: 400px;
    top: 50%;
    left: 50%;

    border-radius: 10px;
    transform: translate(-50%, -50%);
}
.connec_panel input:focus
{
    outline: none;
}

.connec_logo
{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    padding-top: 120px !important;
    padding-left: 120px !important;
    background: url(../img/epicporn.png) center center no-repeat;
    background-size: auto 100px !important;
}

.connec_panel input.inputField
{
    color: white;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 5%;
    width: 84%;
    overflow: hidden;
    font-size: 20px;
    padding: 2% 2% 2% 4%;
    border: 1px solid white;
    border-radius: 4px;
    background: none;
}
.connec_panel input.inputField:active
{
    border: 1px solid rgb(150, 150, 150);
}
.connec_panel input.submit
{
    color: white;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 8%;
    width: 84%;
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(237, 40, 181);
    border-radius: 5px 5px;
    font-size: 20px;
    margin-top: 40px;
    padding: 2% 2% 2% 4%;
    cursor: pointer;
}
.connec_panel input.submit:hover
{
    background: rgba(237, 40, 181);
}

/* --------------------HEADER-------------------- */

.header {
    margin: 0;
    width: 100%;
    height: 30px;
    background-color: #23282d;
}

.header p.user_pres {
    margin-top: 5px;
    margin-right: 20px;
    font-size: 14px;
}
.header .disconnect {
    margin-top: 7px;
    margin-right: 20px;
    font-size: 14px;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}
.header .disconnect:hover {
    color: rgb(0, 194, 228);
}
.header .logo
{
    width: 200px;
    height: 100%;
    margin-top: 5px;
    margin-left: 5px;
    background: url(../img/epicporn.png) left center no-repeat;
    background-size: auto 40px;
}


.left_menu {
    float:left;
    width: 180px;
    height: 100%;
    margin-top: 30px;
    background-color: #23282d;
}
.left_menu .nav_menu{
    width: 89%;
    margin-top: 10px;
}
.left_menu .nav_menu a {
    font-size: 14px;

    text-decoration: none;
    color: white;

    display: block;
    width: 100%;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.left_menu .nav_menu a:hover {
    color: rgb(125, 235, 255);
    background-color: rgba(255, 255, 255, 0.1);
}
.left_menu .nav_menu a.active {
    color: rgb(255, 255, 255);
    background-color: rgb(125, 235, 255);
    color: black;
}



/* --------------------CONTENT DASHBOARD-------------------- */

.centered{
    display: block;
    padding-left: 2%;
    width: 96%;
    margin-top: 50px;
}

.content {
    margin-top: 30px;
    margin-left: 180px;
}

.content p {
    color: #23282d;
}

.all_stats .box {
    display: block;
    border: 2px solid rgba(0,0,0,0.2);
    background-color: white;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.all_stats {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}
.all_stats .stats{
    width: 85%;
    border: 2px solid rgba(0,0,0,0.04);
}
.all_stats .stats p.type_name{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.all_stats .stats p.infos {
    margin-top: 0;
    color: rgb(0, 194, 228);
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

/* --------------------CONTENT ADS-------------------- */

.all_panels {
    display: block;
    width: 100%;
}

.all_panels .box {
    float:left;
    width: 21%;
    display: block;
    border: 2px solid rgba(0,0,0,0.2);
    overflow-wrap: break-word;
    background-color: white;
    margin-top: 20px;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 1%;
}

.all_panels .box .title{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: 1px solid gray;
}
.page_title {
    color: black;
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
}


/* --------------------SWITCH-------------------- */

.switch {
    position: relative;
    display: block;
    float: right;
    width: 40px;
    height: 26px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 20px;
}
  
.slider.round:before {
    border-radius: 50%;
}



/* --------------------ACTIONS BUTTONS-------------------- */

.actions {
    margin-top: 10px;
    margin-bottom: 30px;
}

.add_button {
    background-color: white;
    text-decoration: none;
    font-size: 14px;
    color: #2196F3;
    border: 1px solid #2196F3;
    border-radius: 3px;
    padding: 6px 15px 6px 15px;
    cursor: pointer;
}
.add_button:hover, .add_button:focus {
    color: white;
    background-color: #2196F3;
}

.delete_button{
    background-color: white;
    text-decoration: none;
    font-size: 14px;
    color: #f32121;
    border: 1px solid #f32121;
    border-radius: 3px;
    padding: 6px 15px 6px 15px;
    cursor: pointer;
}
.delete_button:hover, .delete_button:focus {
    color: white;
    background-color: #f32121;
}




/* --------------------VIDEOS-------------------- */

.box.new_vid {
    background-color: white;
    border: 1px solid rgb(170, 170, 170);
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}


.table_list {
    border: 1px solid rgb(170, 170, 170);

}
.table_list .box.video {
    min-height: 30px;
    background-color: rgb(240, 240, 240);
    display: grid;
    grid-template-columns: 32px auto 20%;
}
.table_list .box.categories {
    min-height: 30px;
    background-color: rgb(240, 240, 240);
    display: grid;
    grid-template-columns: 32px auto;
}

.table_list .box p{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.table_list .box a{
    margin-right: 5px;
}

ul {
    margin: 0;
    padding: 0;
}
.table_list>:nth-child(2n+1)
{
    background-color: rgb(240, 240, 240) !important;
}
.table_list>:nth-child(2n)
{
    background-color: rgb(250, 250, 250) !important;
}

.comment a {
    float: none;
}

.cancel_button{
    background-color: white;
    text-decoration: none;
    font-size: 14px;
    color: rgb(243, 33, 33);
    border: 1px solid rgb(243, 33, 33);
    border-radius: 3px;
    padding: 4px 15px 5px 15px;
    cursor: pointer;
}
.cancel_button:hover, .cancel_button:focus {
    color: white;
    background-color: rgb(243, 33, 33);
}

input.add_button {
    padding-right: -100px;
}


/* --------------------CHECKBOXS-------------------- */


.container {
    color: black;
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 96%;
    margin-left: 5px;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 3px;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  .checkmark {
    position: absolute;
    top: 8px;
    left: 6px;
    height: 16px;
    width: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 1px solid #2196F3;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #eee;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 3px;
	left: 3px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
}


.choose_categories .container {
    color: black;
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    width: 96%;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    background-color: rgba(0,0,0,0.04);
  }
  .choose_categories .container p {
      margin: 0;
      padding-top: 5px;
      padding-left: 30px;
      margin-bottom: 5px;
  }


/*          ANCIENT TOGGLE / CHECKMARK
.toggle {
    display: block;
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 24px;
    padding: 3px;
    border: 1px solid #2196F3;
}

.toggle_cat.active .toggle{
    background-color: #2196F3;
}

.toggle .toggle_btn {
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 24px;
}


.toggle_cat input{
    color: black;
    padding-bottom: -10px;
}
.toggle_cat p{
    margin-top: -20px;
    margin-bottom: 0px;
    margin-left: 25px;
    margin-right: 2px;
    color: black;
}
.toggle_cat {
    display: inline-block;
    cursor: pointer;
    width: 95%;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    background-color: rgba(0,0,0,0.04);
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.toggle_select.active .toggle{
    background-color: #2196F3;
}
.toggle_select {
    display: inline-block;
    width: 18px;
    cursor: pointer;
    border-radius: 3px;
    padding-left: 8px;
    padding-top: 10px;
    margin-bottom: 10px;
}
*/






.choose_categories {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
}
.new_vid .textfield{
    width: 99%;
    font-size: 15px;
    background-color: white;
    border: 2px solid rgb(0, 0, 0, 0.2);
    color: #2196F3;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
    margin-bottom: 10px;
}

.new_vid .textfield:focus {
    outline: 2px solid #2196F3;
}

.new_vid h3 {
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
}

/* --------------------COMMENTAIRES-------------------- */
.table_list .box.coms {
    min-height: 30px;
    background-color: rgb(240, 240, 240);
    display: grid;
    grid-template-columns: 30px 15% auto 20% 20%;
}

.table_list .title_row {
    background-color: rgb(255, 255, 255);
}
.table_list .title_row.border_down {
    border-bottom: 1px solid rgb(170, 170, 170);
}
.table_list .title_row.border_down p {
    margin-top : 0;
    margin-left : 10px;
    padding-top: 5px;
}
.table_list .title_row.border_up {
    border-top: 1px solid rgb(170, 170, 170);
}
.table_list .title_row.border_up p {
    margin-bottom : 0;
    margin-left : 10px;
    padding-bottom: 5px;
}

.table_list .box a {
    text-decoration: none;
    color: rgb(97, 40, 255);
}

.table_list .box a:hover {
    color: rgb(148, 109, 255);
}
.table_list .action {
    margin-top: 5px;
}
.table_list .action button{
    padding: 0;
    border: none;
    cursor: pointer;
    float: left;
}
.table_list .action button:focus{
    outline: none;
}
.table_list .delete {
    border-radius: 3px;
    width: 24px;
    height: 24px;
}

.trash {
    width: 100%;
    height: 100%;
    background: url(../img/logos/trash.png) center center no-repeat;
    background-size: auto 30px !important;
}